body {
    color: #333344;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/** logo container**/
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

/* Header. Блок с меню навигаций и логотипом */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Выравнивание логотипа и меню между собой на равных долях и по центру*/
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;

}

/* Отображаем в одну строчку блочные элементы меню */
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
}

/* Задаём цвет текста элемента навигации меню*/
.nav_link:hover {
    color: #fce38a;

}

/* Задаём стили элемнтов навигации меню при наведении*/
.nav_link:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0; /*задаём начальную ширину элемента (линии)*/
    background-color: #fce38a; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
}

/* задаём для песевдоэлемента after ширину 100% при наведении,
 а также при установленном курсоре*/
.nav_link:hover:after,
.nav_link:focus:after {
    width: 100%;
}

/* Стили для первого блока с датами соревнований, меню и логотипа*/
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Стили текста для ближайшей даты соревнования*/
.date, .type_competition, .place {
    color: chartreuse;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

}

.type_competition {
    font-size: 70px;
    line-height: 1.2;
}

.place {
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 115px;
}


.page {
    overflow: hidden;
}

/* Загрузка и прозрачность картинки главного блока с датами. Выравнивание дат по центру в слайдере*/
#events {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: multiply;
    background: #2e3a44 url("../images/Lochte_2-1024x683.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 770px;
    position: relative;
}

/*
.logo_place {
    position: relative;
    padding: 5%;
}
*/

/* Блок с 4-мя датами соревнований*/

.slider-nav div {

    width: 1200px;
    height: 60px;

}

.slider-for {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.slider-wrap {
    positon: absolute;
    height: 300px;
    margin-left: 20px;

}

.slick-arrow:before {
    color: white;
}

/* Убрана синяя рамка при нажатии на дату соревнований*/
div:active, div:focus {
    outline: none;
}

div::-moz-focus-inner {
    border: 0;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.slider_item {
    width: 23%;
    font-size: 18px;
    color: white;
    padding: 20px 0;

}

.number_date {
    font-size: 22px;
}

/*section. История команды*/
.section {
    padding: 110px 0;
}

.section_header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_title {
    margin-bottom: 20px;
}

.section_header {
    font-size: 20px;
    color: #333333;
}

/* stat_awards. Блок с достижениями команды */

.stat_awards {
    background-color: #95e1d3;
}

.awards_items {
    display: flex;
}

.awards_item {
    flex: 1 1 0; /* flex-grow, flex-shrink и flex-basis*/
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: white;
    padding: 70px 25px;
}

.awards_item:last-child {
    border-right: 1px solid #b5eae0;
}

.awards_number, .awards_number_one {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.awards_text, .awards_text_one {
    font-size: 14px;
    text-transform: uppercase;
}

/* quote*/
.quote_item {
    margin: 20px;
    height: 130px;
    padding-left: 205px;
    position: relative;
    margin-top: 40px;
    /*background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
*/
}

.quote_photo {
    height: 110px;
    width: 121px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 30px;
}

.quote_text {
    margin-bottom: 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}
.quote_author {
    font-size: 22px;
    color: #333333;
    margin-left: 390px;
}

.quote_author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 3px;
    margin-right: 10px;
    background: blue;
}




/* honor roll*/

.section_honor_roll {
    background: url("https://i1.wallbox.ru/wallpapers/main/201121/0eb56b45fdfa6535cf1d0f1740cd0af0.jpg") no-repeat center;
}

.section_title2 {
    color: white;

}

.honorRoll {
    display: flex;
    justify-content: space-around;
}

.honorRoll_item {

    width: 325px;
    position: relative;

}



/* Выдвижение картинки при наведение*/
.honorRoll_item:hover .honorRoll_img {
    transform: translate3d(-10px, -10px, 0);
}

.honorRoll_item:hover .honorRoll_text {
    opacity: 1;
}

.honorRoll_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.honorRoll_img img {
    display: block;
    transition: opacity 0.1s linear;
}

.honorRoll_text {
    width: 100%;
    font-size: 18px;
    color: blue;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transition: opacity 0.2s linear;
}

/* Social.  Иконки и ссылки на соцсети*/
.reference {
    display: flex;
    justify-content: left;
    line-height: 1.3;
}

.reference_item {
    background-color: black;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.reference_item:hover {
    color: blue;
    background-color: white;
}

.honorRoll_name {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.line_photo {
    position: relative;
    bottom: 22px;
}

.photo {
    display: flex;

}

.photo {
    display: flex;
}

.photo_column {
    width: 25%;
    justify-content: space-between;
}

.photo_item {
    height: 50%;
}

.photo_item1 {
    height: 100%;
}

.photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Добавление прозрачной фоновой каринки*/
.section_team {
    background: #2e3a44 url("../images/Burtas.jpg") no-repeat center;
    width: 100%;
    height: 1110px;
    display: flex;
    flex-direction: column;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;

}

.section_header_moments {
    padding: 15px 0;
    text-align: center;
}


/* Анимация заголовка*/
.section_title_animate {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);


    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;


    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

}


@-webkit-keyframes aitf {
    0% {
        background-position:  50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

.team {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 100px;
}

.team_item {
    padding: 0 5px 0 175px;
    position: relative;
}

.team_photo {

    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.team_name {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.team_label {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: white;
}

.team_view {
    font-size: 15px;
    color: white;
}

.team_info {
    margin-top: 25px;
}

.section_header_last {
    padding: 15px 0;
    text-align: center;
}

/* Blog. Последние соревнования*/

.blog {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

}

.blog_item {
    width: 30%;
}

.blog_header {
    position: relative;
    margin-bottom: 14px;
}

.blog_photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog_date {
    padding: 10px 20px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    background-color: #95e1d3;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    color: white;
    font-style: italic;

}

.blog_date_day {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
}

.blog_title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.blog_title a {
    color: inherit;
    text-decoration: none;
}

.blog_title a:hover {
    text-decoration: underline;
}

/* Footer. Копирайт*/

.footer {
     margin-top: 20px;
}
.copyright_info {
    padding: 20px 0;
    border-top: 1px solid #FF9800;
    font-size: 14px;
    color: black;
    text-align: center;
}

.copyright_info a {
    margin-left: 12px;
    color: indigo;
    text-decoration: none;
}

@media (max-width: 1440px) {
    .type_competition {
        font-size: 65px;
        font-weight: 900;
    }
}

@media (max-width: 1280px) {
    .honorRoll {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        grid-row-gap: 30px;
        justify-items: center;
        margin-top: 0;
    }

    .section_header {
        margin-bottom: 15px;
        text-align: center;
    }

    .honorRoll_name {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .date {
        font-size: 77px;
    }

    .place {
        font-size: 50px;
    }

    .type_competition {
        font-size: 47px;
    }

    .photo {
        flex-wrap: wrap;
    }

    .photo_column {
        flex: none;
        width: 50%;
    }

}

@media (max-width: 768px) {
    .date {
        font-size: 55px;
    }

    .place {
        font-size: 35px;
    }

    .type_competition {
        font-size: 33px;
    }

}

@media (max-width: 640px) {
    .date {
        font-size: 33px;
    }

    .place {
        font-size: 25px;
    }

    .type_competition {
        font-size: 23px;
    }

    .date{
        margin-top: 20%;
    }

}

@media (max-width: 320px) {
    .date, .place, .type_competition {
        font-size: 15px;
        margin-top: 2%;
    }

    .date {
        margin-top: 50%;
    }


}

@media (max-height: 360px) {
    .date {
        margin-top: 10%;
    }


}

@media (min-width: 1024px) and (max-width: 1199px)  {
    .slider-nav div {

        width: 930px;
        height: 60px;

    }

    .slider_line {
        width: 170px;
    }

    .container {
        padding: 5px;
    }

    .quote_photo {
        margin-left: 40px;
    }

    .quote_text {
        padding-right: 40px;
    }

    .quote_author {
        font-size: 20px;
        margin-left: 290px;
    }

    .blog {
        flex-wrap: wrap;
        max-width: 380px;
        margin: 0 auto;
    }

    .blog_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .blog_item:last-child {
        margin-bottom: 0;
    }

    .main {
        max-height: 700px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .slider-nav div {

        width: 650px;
        height: 65px;
    }

    .slider_line {
        width: 150px;
    }

    .container {
        padding: 5px;
    }

    .awards_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .awards_item {
        padding: 60px;
    }


    .awards_item {
        padding: 50px 0 50px 0;
    }

    .container {
        padding: 3px;
    }

    .quote_author {
        margin-left: 135px;
        font-size: 18px;
        width: 75%;
    }

    .quote_text {
        padding-right: 50px;
    }



    }



@media (max-width: 767px) {
    .slider-nav div {
        width: 203px;
        height: 85px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        font-size: 17px;
        padding: 0;
    }
    .awards_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .awards_item {
        padding: 60px;
    }


    .awards_item {
        padding: 50px 0 50px 0;
    }

    .container {
        padding: 3px;
    }

    .awards_number_one, .awards_text_one {
       /* color: darkmagenta;*/
    }


    @media (max-width: 721px) {
        .quote_author {
           display: none;
        }
    }

    @media (max-width: 529px) {
        .quote_text {
            font-size: 14px;
        }
    }

    .slider_line {
        width: 30px;
    }

    .time_slider {
        display: none;
    }

    .quote_author {
        margin-left: 100px;
        font-size: 18px;
        width: 80%;
        padding-right: 30px;
    }

    .quote_photo {
        margin-left: 15px;
    }
}

